@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&family=Noto+Sans+JP&family=Noto+Sans:ital,wght@0,300;1,400&display=swap");
html {
  font-family: "Mukta Malar", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}
body {
  background-color: #e0d8c3;
  display: block;
}
a {
  color: #e2532f;
  text-align: right;
}
#zpic {
  border: #dda033 6px solid;
  border-radius: 50%;
  max-width: 30%;
  margin: auto;
}

main {
  display: flex;
  padding: 20px;
  border: 2px black;
  align-items: flex-end;
  flex-wrap: wrap;
}
header {
  display: flex;
  justify-content: space-between;
}
footer {
  display: flex;
  justify-content: space-around;
}
section {
  margin: 120px 0;
}
h1,
h2 {
  font-weight: 900;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
}
h1 {
  color: #e2532f;
  text-align: left;
}
h2 {
  text-align: center;
  color: #dda033;
  padding: 0 0 24px;
}
p {
  font-size: 1rem;
  line-height: 28px;
  text-align: left;
  color: #e2532f;
  flex-wrap: wrap;
}

ul {
  list-style-type: circle;
  padding-left: 10px;
}

#card.wrapper {
  display: inline-flex;
  border-radius: 15%;
  border: #0d97ac;
  border-width: 2px;
}

.card {
  margin: 5px;
}

.skillslistings {
  font-size: 1rem;
  color: #e2532f;
}

#project {
  font-size: 1rem;
  color: #e2532f;
}

h1:hover,
h2:hover,
a:hover {
  color: #0d97ac;
}

.socials {
  margin: auto;
  max-width: 65%;
}

#inlogo {
  padding-top: 10px;
  max-width: 80%;
}
@media (min-width: 600px) {
  main {
    display: flex;
    align-items: center;
  }
  header {
    display: flex;
    width: 95%;
  }
  #card.wrapper {
    display: flex;
    width: 100%;
  }
  .card {
    width: (30%/2px);
  }
}
@media (min-width: 900px) {
  #card.wrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
  }
  .card {
    width: 30%/3px;
  }
}
